*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family:
    Inter,
    "Segoe UI",
    Arial,
    sans-serif;

  color: #142322;
  background: #f8f7f4;

  -webkit-font-smoothing: antialiased;
}

button,
a {
  font: inherit;
}

::selection {
  color: white;
  background: #087a70;
}
